@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}


header {
	background-color: #333;
	color: white;
	padding: 10px 0;
	display: flex;
	align-items: center;
	
	justify-content: space-between;
}

header .logo {
	font-size: 24px;
	font-weight: bold;
	margin-left: 20px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

/* CSS для центрирования меню */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align:center;
}

nav ul li {
  margin: 0 15px; /* расстояние между пунктами меню */
}

nav .auth-buttons {
	margin-right: 20px;
}

nav .login-button {
	color: white;
	text-decoration: none;
	background-color: #1abc9c;
	padding: 10px 20px;
	border-radius: 5px;
}

.hero {
	background-color: #1abc9c;
	color: white;
	padding: 50px 20px;
	text-align: center;
}

.slider {
	padding: 20px;
	background-color: #fff;
}

.slider .carousel {
	display: flex;
	overflow-x: auto;
}

.slider .slide {
	min-width: 300px;
	margin-right: 20px;
	background-color: #ddd;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.categories {
	padding: 20px;
	background-color: #f9f9f9;
}

.categories .category {
	background-color: #fff;
	margin: 10px 0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news {
	padding: 20px;
}

.news h2 {
	text-align: center;
}

.news article {
	background-color: white;
	margin: 20px 0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popular-news {
	padding: 20px;
	background-color: #f9f9f9;
}

.popular-news-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* Две колонки */
	gap: 20px;
	list-style-type: none;
	padding: 0;
}

.news-item {
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}

.popular-slide {
	display: flex;
	flex-direction: column;
}

.more-btn {
	align-self: flex-start;
}

aside {
	padding: 20px;
	background-color: #f9f9f9;
}

.subscribe,
.social {
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
}

footer a {
	color: #1abc9c;
	text-decoration: none;
}

/*Auth*/


nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav .menu li {
    margin: 0 15px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.auth-buttons {
    margin-top: 10px;
}

.auth-buttons .login-button {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container .login-image {
    margin-bottom: 20px;
}

.login-container .login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1abc9c;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}


/*Registration&+*/
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu li {
	margin: 0 10px;
}

.menu a {
	color: #fff;
	text-decoration: none;
}

.auth-buttons {
	display: flex;
}

.login-button {
	background-color: #1abc9c;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
}

.login-container,
.register-container {
	max-width: 400px;
	margin: 50px auto;
	padding: 30px 50px;
	padding-right: 70px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 90%;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

.input-group {
	margin-bottom: 15px;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
}

.input-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.remember-me {
	display: flex;
	align-items: center;
}

.remember-me input {
	margin-right: 5px;
}



.links {
	text-align: center;
	margin-top: 10px;
}

.links a {
	text-decoration: none;
}

/* Personal Account*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

.sidebar {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    width: 200px;
    float: left;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.profile {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saved-news, .likes-comments {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
