<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
  <display-name>Archetype Created Web Application</display-name>
  
  	<servlet>
		<servlet-name>Auto</servlet-name>
		<jsp-file>/WEB-INF/jsp/auth.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Auto</servlet-name>
		<url-pattern>/goToAuto</url-pattern>
	</servlet-mapping>
	
  
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>app.yarmak.newsportal.controller.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/goController</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	  <error-page>
	    <error-code>404</error-code>
	    <location>/error.jsp</location>
	</error-page>
	
	<error-page>
	    <error-code>500</error-code>
	    <location>/error.jsp</location>
	</error-page>
	
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/error.jsp</location>
	</error-page>
  
	<filter>
    	<filter-name>AuthenticationFilter</filter-name>
    	<filter-class>app.yarmak.newsportal.controller.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	
	<filter>
    	<display-name>CharacterEncodingFilter</display-name>
    	<filter-name>CharacterEncodingFilter</filter-name>
    	<filter-class>app.yarmak.newsportal.controller.filter.CharacterEncodingFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>CharacterEncodingFilter</filter-name>
    	<url-pattern>/MyController</url-pattern>
  	</filter-mapping>
	
	
	<filter>
    	<display-name>RememberMeFilter</display-name>
    	<filter-name>RememberMeFilter</filter-name>
    	<filter-class>app.yarmak.newsportal.controller.filter.RememberMeFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>RememberMeFilter</filter-name>
    	<url-pattern>/MyController</url-pattern>
  	</filter-mapping>
	
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
	
</web-app>
